
<div class="container-fluid">
    <app-header></app-header>
</div>

<br>
<div>
    <button routerLink="/add-customer"class="btn btn-success">Add Customer</button>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Customer self-service portal</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                    
                    <a href="/add-customer" class="m-b-0">Add Customer<span class="f-right">351</span></a><br>
                    <a href="/customer" class="m-b-0">List of all Customer<span class="f-right"></span></a>
                </div>
            </div>
        </div>
       
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Invoice generation</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                    <a href="/common" class="m-b-0">Generate Invoice<span class="f-right">351</span></a><br>
                    <a href="/showallinvoice" class="m-b-0">List of all Invoice<span class="f-right"></span></a>
                    
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">User-defined billing models</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                    <a href="/common" class="m-b-0">Show Bill<span class="f-right">351</span></a><br>
                    <a href="/showallbill" class="m-b-0">List of all Bills<span class="f-right"></span></a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Transaction Tracking</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                    <a href="/common" class="m-b-0">Track<span class="f-right">351</span></a><br>
                    <a href="/showalltransaction" class="m-b-0">List of all Transaction<span class="f-right"></span></a>
                </div>
            </div>
        </div>
	</div>
</div>
