
<div class="container-fluid">
    <app-header></app-header>
</div>


<br>
  <div class="container">
    <div class="row">
      <div class="col">
            <div>
              <div class="card myrgb" style="width:400px">                 
                <div class="card-body">
                  <h4 class="card-title">{{customer.customerName}} </h4>
                  <div class="card-text">
                   
                      <span> {{ customer.customerEmail}} </span><br>
                      <span> {{ customer.customerContact}} </span><br>
                      <span> {{ customer.billID}} </span><br>
                      <span> {{ customer.unitConsumption}} </span><br>
                      <span> {{ customer.billDueDate}} </span><br>
                      <span> {{ customer.billDuration}} </span><br>
                      
                  </div>
                 
                 <button class="btn btn-primary"
                  (click)="OnUpdate()">Update Employee</button> 
                 <button routerLink="/home" class="btn btn-warning">Home</button>
          
            </div>
      </div>

    </div>
</div>