
<table class="table table-striped" style="width: 70%; margin-left: 15%;">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Invoice ID</td>
      <td>{{ invoice.invoiceID }}</td>
    </tr>
    <tr>
      <td>Customer ID</td>
      <td>{{ customer.customerID }}</td>
    </tr>
    <tr>
      <td>Customer Name</td>
      <td>{{ customer.customerName }}</td>
    </tr>
    <tr>
      <td>Customer Email</td>
      <td>{{ customer.customerEmail }}</td>
    </tr>
    <tr>
      <td>Customer Contact</td>
      <td>{{ customer.customerContact }}</td>
    </tr>
    <tr>
      <td>Bill ID</td>
      <td>{{ customer.billID }}</td>
    </tr>
    <tr>
      <td>Unit Consumption</td>
      <td>{{ customer.unitConsumption }}</td>
    </tr>
    <tr>
      <td>Bill Due Date</td>
      <td>{{ customer.billDueDate }}</td>
    </tr>
    <tr>
      <td>Bill Duration</td>
      <td>{{ customer.billDuration }}</td>
    </tr>
    <tr>
      <td>Amount Due</td>
      <td>{{ invoice.amountDue }}</td>
    </tr>
    <tr>
      <td>Total Amount</td>
      <td>{{ invoice.totalAmount }}</td>
    </tr>
    <tr>
      <td>Payment Method</td>
      <td>{{ invoice.isCash }}</td>
    </tr>
  </tbody>
</table>
