<div class="row" style="margin-top: 10px">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
        <a class="navbar-brand" 
        style="color: white;font-size:30px" routerLink="/home">
            Bharat Bijili Corporation </a>
  
        <div class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
            <span  class="nav-item nav-link"
              style="font-weight: bold; font-size:20px; color: whitesmoke"
              >Hi Welcome to Electric Power Utility Company</span
            >&nbsp;
            
            <a (click)="onLogout()"
              style="cursor: pointer; font-weight: bold; color: whitesmoke"
              class="nav-item nav-link;font-size:28px"
              ><button type="button">LogOut</button></a >
          </div>
        </div>
      </nav>
    </div>
  </div>
  
  
